myenv
.env

**/.DS_Store
**/__pycache__/

data/final/*
!data/final/compressed
!data/final/compressed/*
!data/embedded/README.md

data/processed/from_raw/*
!data/processed/from_raw/README.md
data/processed/from_processed/*
!data/processed/from_processed/README.md

data/raw/*
!data/raw/el-en.tmx.zip
!data/raw/README.md